.indicators-section-header {
    padding: 10px 12px;

    a {
      width: 100%;
      padding: 0 !important;

      .pie-chart-legend {
        position: relative;
        float: right;
        width: 44%;
        top: 24px;

        ul {
          padding: 0 !important;

          li {
            text-indent: -30px;

            span {
              left: 0 !important;
              top: 6px;
            }
          }
        }

        td {
          font-weight: 500;
          padding-top: 10px;

          &:first-child {
            text-align: center;
          }
        }

        img {
          width: 20px;
          height: 20px;

          &.boy,
          &.boys {
            content: url('/assets/img/icon-boy.svg');
          }

          &.girl,
          &.girls {
            content: url('/assets/img/icon-girl.svg');
          }

          &.pregnant,
          &.pregnant {
            content: url('/assets/img/icon-pregnant.svg');
          }
        }
      }
    }

    .rpNav {
      cursor: pointer;
      top: 1px;
      position: relative;
      font-size: 0.9em;

      &.glyphicon-triangle-left {
        padding-left: 6px;
      }

      &.disabled {
        cursor: auto;
        color: #aaa;
      }
    }

    .rpSelect {
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  .profile-indicators {
    margin: 0;
    border-bottom: 1px solid #e8e8e8;
    line-height: 1.3;
    padding: 0;
    background: #f5f3e9;

    ul {
      list-style-type: none;
      padding: 1px;
      margin-top: 0;

      li {
        list-style-type: none;

        &.indicators-section-header {
          div.progress-container {
            width: 100%;
            height: 80px;
            position: relative;
            margin-top: -20px;

            div.progress-bar-labels {
              width: 80%;
              float: right;
              margin-right: 30px;
            }

            div.progress-value {
              position: absolute;
              right: 0;
              top: 54px;
            }

            div.progress-bar-icon {
              width: 10%;
              position: relative;
              top: 50%;

              img {
                width: 20px;
                height: 30px;

                &.pregnant {
                  content: url('/assets/img/icon-pregnant.svg');
                }

                &.boy,
                &.boys {
                  content: url('/assets/img/icon-boy.svg');
                }

                &.girl,
                &.girls {
                  content: url('/assets/img/icon-girl.svg');
                }
              }
            }
          }

          div.service-parameters {
            display: block;

            img {
              float: none;
              width: 30%;
              left: 0;
              padding-right: 40px;
              padding-left: 40px;
              display: inline-block;
            }
          }
        }

        .indicator-label {
          font-weight: 500;

          span.indicator-totals {
            left: -10px !important;
            bottom: 16px;
            position: relative;
          }

          span.indicator-value {
            float: right;
            left: -10px;
            width: 40px;
            text-align: left;
            font-weight: 500 !important;
          }

          span.caret-down,
          span.caret-right {
            right: 14px;
            top: 10px;
            position: absolute;

            &.total {
              top: 30px;
              right: 14px;
            }
          }

          span.caret-right {
            transform: rotate(-90deg);
          }

          span.fa-square {
            left: 0;
            margin-right: 10px;
            vertical-align: middle;
          }
        }

        ul.indicator-bar {
          padding: 0;
        }

        .indicator-item {
          display: block;
          padding-left: 30px;
          position: relative;

          span.caret-down,
          span.caret-right {
            bottom: 0;
          }

          &::before {
            content: '';
            height: 12px;
            width: 12px;
            position: absolute;
            left: 12px;
          }

          &.rc::before {
            background-color: #2ecc40;
          }

          &.hc::before {
            background-color: #ffdc00;
          }
        }

        .service-name {
          font-weight: 600 !important;
          font-size: 12px;
        }

        a {
          color: #555;
          width: 100%;
          display: block;
          font-weight: 600;
          padding: 10px 12px;
          border-bottom: 1px solid #eee;
          position: relative;

          span {
            &:first-child {
              left: 70px;
              position: relative;
            }

            &:last-child {
              float: right;
              position: relative;
              margin-top: 5px;
            }
          }

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }

        ul {
          padding: 20px 0 20px 20px;
        }
      }
    }
  }

  .progress {
    background-color: #f9f9f9;
    border-radius: 0;
    color: #fff;
    font-size: 11px;
    font-size: 0.6875rem;
    height: 20px;
    line-height: 1.182;
    margin: 6px 0;
    position: relative;
    text-align: center;
    width: 80%;
    float: right;
    margin-right: 30px;
    overflow: inherit !important;

    &.progress-stacked {
      width: 100% !important;
      float: none !important;
      display: -webkit-box;
    }

    & > span {
      position: relative;
      float: left !important;
      height: 100%;
      margin: auto !important;
      left: 0 !important;
      pointer-events: all;
    }
  }

  div.totals {
    width: 30%;
    margin-top: 2px;
    font-weight: 500 !important;
  }

  ul.indicators-list {
    padding: 0 !important;
    margin: 0 !important;
  }

