.metric-aggregates {
    .total-progress {
      padding-bottom: 21px;
      border-bottom: 1px solid #ccc;
  
      .label-wrapper {
        display: block;
        margin: 0 0 12px 24px;
        position: relative;
      }
  
      .icon-wrapper {
        height: 70px;
        width: 65px;
        vertical-align: top;
  
        &.empty {
          width: 0;
          margin: 0 0 0 18px;
        }
      }
    }
  
    .icon-wrapper {
      display: inline-block;
      height: 72px;
      width: 80px;
      margin: 0 16px 0 24px;
  
      img {
        max-width: 100%;
        display: block;
      }
    }
  
    .metrics {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
    }
  
    .metrics > div {
      flex-grow: 1;
      flex-basis: 33%;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }
  
    .description {
      position: absolute;
      top: 0;
      right: 18px;
      text-align: right;
      color: #ccc;
  
      span {
        cursor: pointer;
      }
  
      p {
        display: none;
        position: absolute;
        right: 0;
        text-align: left;
        padding: 6px 10px;
        background-color: #333;
        margin-top: 12px;
        color: #eee;
        font-size: 11px;
        line-height: 1.5;
        width: 250px;
  
        &:before {
          content: '';
          height: 0;
          width: 0;
          position: absolute;
          top: -11px;
          right: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 11px solid #333
        }
      }
  
      &:hover {
        color: #333;
        p {
          display: block;
        }
      }
    }
  }
  
  .metric-progress {
    &.pointer {
      cursor: pointer;
    }

    .indicator-container {
      margin: 0 auto;
      .indicator-row {
        position: relative;
        width: 100%;
        padding: 16px;
        border-top: 1px solid #ccc;
      }
    }
    & > div {
      display: block;
      position: relative;
      margin: 26px 15px 12px 24px;
  
      &.label-wrapper {
        z-index: 10;
      }

      &.indicator-label-wrapper {
        height: 76px;
      }
  
      & > span {
        margin-right: 36px;
      }
    }
  }

  .progress-wrapper {
    margin: 8px 0 6px 20px;
  }

  .indicator-progress-wrapper {
    display: flex;
    flex-direction: column;
    span {
      margin-left: 5px;
    }
    .progress-circle {
      width: 15px;
      height: 15px;
      -moz-border-radius: 70px;
      -webkit-border-radius: 70px;
      border-radius: 70px;
      margin: 3px 4px;

      &.under {
        background: #cecece;
      }

      &.over {
        background: #2999c5;
      }

      &.extra {
        background: #66ba4b;
      }
    }

    .progress-row {
      height: 30px;

      .progress-under {
        width: 80%;
      }

      .progress-over {
        width: 80%;
        position: relative;
        display: block;
        top: -26px;

        ul {
          overflow: hidden;
        }
      }
    }

    div.under {
      display: initial;
    }

    .over {
      position: relative !important;
    }

    .indicator-icon-wrapper {
      padding: 5px 5px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 50px;
        width: 50px;
      }
      .indicator-percentage {
        font-size: 21px;
        color: #0099ff;
        font-weight: bold;
      }
    }

    .progress-numbers {
      display: block;
      position: relative;
      font-size: 12px;
      color: #666;
      margin-left: 0;
    }
  }

  .progress-wrapper,
  .indicator-progress-wrapper {
    position: relative;
  
    .progress-row {
      position: relative;
    }
  
    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      white-space: nowrap;
  
      li {
        display: inline-block;
        background: left center no-repeat;
        background-size: contain;
        height: 40px;
        width: 24px;
      }
    }
  
    & .over {
      position: absolute;
      top: 0;
      display: inline-block;
  
      ul {
        overflow: hidden;
      }
    }
  
    & .under {
      position: relative;
    }
  
    .total-progress & {
      display: inline-block;
      margin: 0;
  
      @media (min-width: 590px) {
        li {
          height: 70px;
          width: 40px;
        }
      }
  
      @media (max-width: 818px) {
        margin-left: 18px;
      }
    }
  }
  
  .stats-wrapper {
    margin: 0 0 26px 24px;
    min-height: 100px;
  
    span {
      display: block;
      font-size: 12px;
      color: #666;
  
      span {
        display: inline;
      }

      &.progress-actual,
      &.progress-target {
        font-weight: 600;
        margin: 2px 5px 0 0px;
      }

      &.progress-actual {
        float: left;
      }

      &.progress-target {
        float: right;
      }
    }

    .gender-wrapper {
      position: relative;
      display: flex;
      flex-flow: column;
      float: left;
      top: 2px;
      left: 0px;
      width: 100%;
    }
  
    .progress-percent {
      font-size: 21px;
      color: #0099ff;
      font-weight: bold;
  
      &.green {
        color: #66ba4b;
      }
  
      &.actual {
        color: #666;
      }
    }
  
    .total-progress & {
      display: inline-block;
      vertical-align: top;
      margin: 2px 0 0 16px;
  
      @media (max-width: 818px) {
        margin-left: 24px;
      }
    }
  }
  