table {
  position: relative;
  left: 17px;
  margin: 9px 0;
  border-collapse: collapse;
  color: #666;
}
  
td, th {
  border: none;
  padding: 0.5rem;
  text-align: left;
  padding: 5px !important;
}

@media print {
	.page-break {
		display: block;
		page-break-before: always;
	}
}